.cartscreen {
  max-width: 50rem;
  margin: 2rem auto;
}
 
.cartscreen__center {
  margin:5rem;
  /* flex:auto; */
  align-self: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  background: transparent;  
  text-align: center;
}
 
.cartscreen__info {
  border: 1px #ddd solid;
  padding: 1rem;
}

.cartscreen__info p {
  padding: 8px;
  flex-wrap: wrap;
}

.cartscreen__info_saved{
  border: 0.1rem #ddd solid;
  flex-wrap:wrap;
  display:flexbox;
  margin-left: 8rem;
  margin-right: 8rem;
  padding: 2rem;
  
}

.cartscreen__info_saved button{
  position:inherit;
}
/*   
.cartscreen hr {
  border: none;
  height: 1px;
  align-items: center;
  margin-left:4rem;
  margin-right:4rem;
  width:inherit;
  align-self:inherit;
  color: #ddd;
  background-color: #ddd;
} */

.subtotal {
  inline-size: auto;
  font-weight: bold;
  display: inline;
  text-align: right;
  justify-self: right;
  justify-content: right;
  margin-right: 3;
  margin-left: 40;
}

.right-subtotal {
  text-align: right;
  justify-self: right;
  justify-content: right;
  align-self: auto;
  margin-top: 1rem;
  margin-bottom: 0rem;
  margin-right: 4rem; 
  font-size: 14px;
}

.number_of_items_saved{
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-self: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 12px;
}

.btn-checkout {
  padding: 0.5rem 1rem;
  font-size: medium;
  margin-top: 1rem;
}

.centered {
  margin: 3rem;
  text-align: center;
}

.centered_saved {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

