.browser {
	margin-top: 3rem;
	margin-bottom: 10rem;
	margin-left: 10rem;
	margin-right: 10rem;
}
.browser i:hover{
	color:var(--primary-color);
	cursor: pointer;
}
.browser i[disabled]{
	pointer-events: none;
	color: rgb(170, 169, 169);
}

.my-left-aligned {
	text-align: left;
	margin-top: 5rem;
	margin-left: 5rem;
}
.my-left-aligned-books {
	text-align: left;
	margin-top: 1rem;
	margin-left: 5rem;
}

/* Image */
img.small {
	border-radius: 0.5rem;
	max-width: 5rem;
	width: 100%;
}

.circular_progress {
	margin-left: 20rem;
	color: var(--primary-color);
}

.homescreen__products {
	justify-content: space-between;    /* horizontal alignment of grid tracks */
  align-content: space-between;
	display: grid;
	grid-template-columns: repeat(5,2fr);
}

@media (max-width: 1390px) {
	.homescreen__products {
		grid-template-columns: repeat(4, auto);
	}
}

@media (max-width: 1132px) {
	.homescreen__products {
		grid-template-columns: repeat(3, auto);
	}
}

@media (max-width: 870px) {
	.homescreen__products {
		grid-template-columns: repeat(2, auto);
	}
}

@media (max-width: 600px) {
	.homescreen__products {
		grid-template-columns: 1fr;
	}
}

.browser-nav{
	font-size: small;
}

.centered-footer{
	text-align: center;
}

.nav-total-items{
	margin: 8px;
}
