.home-banner {
	width: 100%;
	height: 90vh; /*View height responsive*/
	object-fit: cover;
	margin-top: 1.5rem;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	background-color: aliceblue;
}

.banner-wrap {
	display: grid;
	text-align: center;
}

.banner-wrap-small {
	background-color: var(--dark-color);
	color: var(--light-color);
	padding: 1rem;
}

.banner-wrap-small p {
	font-size: 14px;
	letter-spacing: 0.47px;
	font-weight: 600;
}

.banner-wrap-medium {
	background-color: var(--secondary-color);
	color: var(--dark-color);
	padding: 13rem;
}

.banner-items {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: var(--dark-color);
}

.banner-item {
	display: block;
	margin: 2rem 4rem 0rem 4rem;
	justify-content: center;
	align-items: center;
	color: var(--dark-color);
}

.banner-icon {
	font-size: 5rem;
	padding: 0% !important;
	margin: 0% !important;
}
.banner-icon p {
	font-size: 14px !important;
	text-transform: uppercase;
}

.banner-button {
	margin-top: 1rem;
}
/*The banner container will allow to insert items on top of the image*/
.banner-container {
	position: relative;
}
.banner-text {
	position: absolute;
	top: 5%;
	width: 100%;
	text-align: center;
	color: var(--primary-color);
}
.banner-text-header {
	text-transform: uppercase;
	letter-spacing: 5px;
	animation: slideInLeft 2s;
}
/*Placing the button in the middle of the text*/
/* .btn{
    display: block;
    margin: 0% auto;
    margin-top: 1.5rem;
    border-radius: 100px;
    padding: .5rem 1.5rem;/*.5 to the top , 1.5 to the left and right
} */

.btn:active {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
	transform: translateY(-1px);
}
/*Animation for the text in the middle of the page*/
@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	80% {
		opacity: 0.5;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
